.chat-room-info-container {
    position: relative;
    top: 12px;
    width: 100%;
    max-width: 400px;
    z-index: 2;
}

.chat-room-info {
    transition: visibility 0.3s ease, opacity 0.3s ease;
    position: absolute;
    width: 100%;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #a3c1fd;
    box-shadow: none;
}

.chat-room-info.collapsed {
    visibility: hidden;
    opacity: 0;
}

.chat-room-info-item {
    font-size: .9em;
    font-weight: 300;
    margin-bottom: 6px;
    margin-top: 6px;
}

.chat-room-info-item > span {
    font-family: "Amatic SC", "Inter", sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    color: #be5fdd;
    user-select: text;
}

.chat-room-info-button-container {
    display: flex;
    align-self: stretch;
    justify-content: center;
}

#chat-room-messages-scrollarea {
    position: absolute;
    top: 60px;
    width: 100%;
    max-width: 700px;
    bottom: 106px;
    overflow: scroll;
}

.chat-room-messages-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
}

.system-message {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-self: center;
    font-family: "Amatic SC", "Inter", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #be5fdd;
}

.system-message:last-child {
    margin-bottom: 0;
}

.message {
    flex-direction: column;
    padding: 6px;
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    min-width: 156px;
    user-select: text;
}

.message:last-child {
    margin-bottom: 0;
}

.message.own {
    align-self: flex-end;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    margin-right: 10px;
    margin-left: 50px;
}

.message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-sender {
    margin-right: 10px;
}

.message-timesent, .message-sender {
    font-size: .9em;
    font-weight: 300;
    overflow: hidden;
}

.message-content {
    margin-top: 6px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    text-align: left;
    overflow: hidden;
}

.chat-room-text-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 106px;
}

.chat-room-text-area-textfield {
    margin: 10px;
    max-width: 400px;
    border: none;
    outline: none;
    flex: 1;
    background-color: transparent;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .3);
    border-radius: 6px;
    font-size: 1.2em;
    font-weight: 300;
    align-self: stretch;
    caret-color: #cb8de0;
    padding: 6px;
    min-width: 50px;
    text-align: left;
    box-sizing: border-box;
    resize: none;
}

.chat-room-text-area-textfield:focus {
    outline: #be5fdd solid 1px;
}

.chat-room-text-area-sendicon {
    height: 24px;
    width: 24px;
    padding: 10px;
}

.chat-room-text-area-sendicon-container {
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.chat-room-text-area-sendicon-container:hover {
    transform: scale(110%);
}
