@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Amatic+SC:wght@400;700&display=swap');

* {
    color: #242424;
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #6cd4ff;
  background: -webkit-linear-gradient(to left, #6cd4ff, #8b80f9);
  background: linear-gradient(
    to left,
    #6cd4ff,
    #8b80f9
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --toastify-color-light: rgba(255, 255, 255, 0.3) !important;
  --toastify-toast-width: 280px !important;
}
