.textinpglass {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-input-label {
    font-weight: lighter;
    font-size: small;
    margin-bottom: 2px;
    user-select: none;
}

.text-input {
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .3);
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-family: "Amatic SC", "Inter", sans-serif;
    font-weight: bold;
    caret-color: #cb8de0;
    color: #be5fdd;
    padding: 6px;
    width: 250px;
    text-align: center;
    box-sizing: border-box;
}

.text-input:focus {
    outline: #be5fdd solid 1px;
}
